.navbarContainer {
  background-color: white;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
}

.navLinks {
  align-items: center;
  justify-content: center;
}

.link {
  color: black;
  text-decoration: none;
  font-size: 16px;
}

.navLinks a {
  margin-left: 20px;
}
