.footer {
  background-color: #f7f7f7;
  color: black;
  margin-top: auto;
}

.footer .container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.footer .logo {
  height: 40px;
  width: auto;
}

.footer .rightsReserved {
  font-size: 12px;
}
